* {
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(32, 32, 34);
}

.container {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.words-box {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  min-width: 60px;
  height: 40px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  color: rgb(216, 216, 216);
  user-select: none;
}
.current {
  background-color: rgba(128, 128, 128, 0.384);
  font-size: 19px;
  color: white;
}
.correct {
  color: rgb(50, 160, 50);
}
.wrong {
  color: rgb(200, 50, 50);
}

#input-field {
  margin-top: 50px;
  padding: 10px;
  width: 300px;
  border: 5px solid #fd8469;
  color: black;
  /* outline: none; */
}

.timer {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.restart-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  outline:invert;
}
.restart-btn:hover {
  transform: rotate(-65deg) scale(1.1);
}

.result-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}